SENTRY_SECRET_KEY='SENTRY_SECRET_KEY'
SENTRY_POSTGRES_HOST=postgres
SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=sentry
SENTRY_REDIS_HOST=redis
SENTRY_EMAIL_HOST=smtp.gmail.com
SENTRY_EMAIL_PORT=587
SENTRY_EMAIL_PASSWORD=login-password
SENTRY_EMAIL_USER=login-user@gmail.com
SENTRY_EMAIL_USE_TLS=1
SENTRY_SERVER_EMAIL=sender-email@gmail.com
